{% extends "base/base.html" %}
{% block content %}
  <main>
    <div class="page-header">
      <div class="container">
        <h1>
          {{ object|yesno:"Update,Create" }}
          {% block header_main %}
          {% endblock %}
        </h1>
      </div>
    </div>

    <div class="container">
      <div class="auth-container">
        <h1>{{ object|yesno:"Update,Create" }}
          {% block h1_main %}
          {% endblock %}
        </h1>
        <form action="#" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {{ create_update_form }}
          <button type="submit" class="btn">{{ object|yesno:"Update,Create" }}
            {% block button_name %}
            {% endblock %}
          </button>
        </form>
      </div>
    </div>
  </main>
{% endblock %}