{% extends "base/base.html" %}
{% load static %}

{% block content %}
  <main>
    <div class="container">
      {% if messages %}
        <ul class="messages">
          {% for message in messages %}
            <li class="{{ message.tags }}">
              {{ message }}
            </li>
          {% endfor %}
        </ul>
      {% endif %}
      <div class="book-details-layout">
        <div class="book-cover">
          {% if book_pk.cover_image_url %}
            <img src="{{ book_pk.cover_image_url.url }}" alt="{{ book_pk.title }}">
          {% else %}
            <img src="{% static 'assets/pics/44014ddd859a3d1efa1d9e22abd33c36.jpg' %}" alt="No image">
          {% endif %}
        </div>
        <div class="book-info">
          <h1 style="word-break: break-all;">{{ book_pk.title }}
            {% if is_liked_book_by_user %}
              &#10084
            {% endif %}
          </h1>
          <p class="author">{{ book_pk.author.all|join:", " }}</p>

          <div class="book-meta">
            <p><strong>Жанр:</strong>{{ book_pk.genres.all|join:", " }}</p>
            <p><strong>Рік видання:</strong>{{ book_pk.publication_year }}</p>
            {% if book_pk.is_stock %}
              <p><strong>Status:</strong> <span class="book-status available">In stock</span></p>
            {% else %}
              <p><strong>Status:</strong> <span class="book-status unavailable">Out of stock</span></p>
            {% endif %}
          </div>

          <h4>Анотація</h4>
          <p style="word-break: break-all;">{{ book_pk.description }}</p>

          <div style="display: flex; align-items: center; width: 250px; justify-content: space-between;">
            {% if user.is_authenticated and user.is_superuser %}
              <br>
              <a
                  href="{% url 'library:book_update_view' book_pk.pk %}"
                  class="btn-secondary"
                  style="background-color: #FFDBBB">Editing
              </a>
              <br>
              <a
                  href="{% url 'library:book_delete_view' book_pk.pk %}"
                  class="btn-secondary"
                  style="background-color: #FFB09C">Delete
              </a>
            {% endif %}
          </div>
          <div class="book-actions">
            <form method="post" action="{% url 'library:add_to_cart_item' book_pk.pk %}">
              {% csrf_token %}

              <button type="submit" class="btn-secondary">Добавити книгу до корзини</button>
            </form>
            <form action="{% url 'library:add_liked_book' book_pk.pk %}" method="post">
              {% csrf_token %}
              {% if not is_liked_book_by_user %}
                <button class="btn-secondary">Добавити до улюблених</button>
                </form>
              {% else %}
                <a href="{% url 'library:delete_liked_book_view' book_pk.pk %}" class="btn-secondary">Видалити з
                  улюблених</a>
              {% endif %}
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}