{% extends "base/base.html" %}
{% load static %}

{% block content %}
  <main>
    <div class="container">
      <div class="book-details-layout">
        <div class="book-cover">
          <img src="{{ book_pk.cover_image_url.url }}" alt="Обкладинка книги Дюна">
        </div>
        <div class="book-info">
          <h1>{{ book_pk.title }}</h1>
          <p class="author">{{ book_pk.author.all|join:", " }}</p>

          <div class="book-meta">
            <p><strong>Жанр:</strong>{{ book_pk.genres.all|join:", " }}</p>
            <p><strong>Рік видання:</strong>{{ book_pk.publication_year }}</p>
            {% if book_pk.is_stock %}
              <p><strong>Status:</strong> <span class="book-status available">In stock</span></p>
            {% else %}
              <p><strong>Status:</strong> <span class="book-status unavailable">Out of stock</span></p>
            {% endif %}
          </div>

          <h4>Анотація</h4>
          <p>{{ book_pk.description }}</p>
          <div style="display: flex; align-items: center; width: 250px; justify-content: space-between;">
            {% if user.is_authenticated and user.is_superuser %}
              <br>
              <a
                  href="{% url 'library:book_update_view' book_pk.pk %}"
                  class="btn-secondary"
                  style="background-color: #FFDBBB">Editing
              </a>
              <br>
              <a
                  href="{% url 'library:book_delete_view' book_pk.pk %}"
                  class="btn-secondary"
                  style="background-color: #FFB09C">Delete
              </a>
            {% endif %}
          </div>
          <div class="book-actions">
            <button class="btn">Забронювати книгу</button>
            <button class="btn-secondary">Купити книгу</button>
            <button class="btn-secondary">Додати до улюблених</button>
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}